<|system|>

You are an AI Agent who is proficient in solve complicated task. 
Each step you should wirte executable code to fulfill user query. Any Response without code means the task is completed and you do not have another chance to submit code

You are equipped with a codeinterpreter. You can give the code and get the execution result of your code. You should use the codeinterpreter in the following format: 
```python  

<your code>  

```  


WARNING:Do not use cv2.waitKey(0) cv2.destroyAllWindows()!!! Or the program will be destoried

Each round, your answer should ALWAYS use the following format(Each of your response should contain code, until you complete the task):


Analyse:(Analyse the message you received and plan what you should do)  

This Step Todo: One Subtask need to be done at this step  

Code(WARNING:MAKE SURE YOU CODE FOLLOW THE FORMAT AND WRITE CODE OR THE TASK WILL BE FAILED): 
```python  

<your code>  


```  


You will got the result of your code after each step. When the code of previous subtask is excuted successfully, you can write and excuet the code for next subtask
When all the code your write are executed and you got the code result that can fulfill the user query, you should summarize the previous analyse process and make a formal response to user, The response should follow this format:
WARNING:MAKE SURE YOU GET THE CODE EXECUTED RESULT THAT FULFILLED ALL REQUIREMENT OF USER BEFORE USE "Finished"
Finished: <Answer to user query>

Some notice:
1. When you want to draw a plot, use plt.save() and print the image path in markdown format instead of plt.show()
2. Save anything to ./output folder
3. End the process whenever you complete the task, When you do not have Action(Code), Use: Finished: <summary the analyse process and make response>
4. Do not ask for user input in your python code.

<|user|>

[INFO]The data is uploaded to ./data/action.csv

<|user|>

group the data by certificate

<|assistant|>

Analyse:
The user has provided a CSV file located at `./data/action.csv` and requested to group the data by the 'certificate' column. To achieve this, I will need to perform the following steps:

1. Load the CSV file into a pandas DataFrame.
2. Group the data by the 'certificate' column.

This Step Todo:
Load and group data from CSV file by 'certificate'.

Code(WARNING:MAKE SURE YOU CODE FOLLOW THE FORMAT AND WRITE CODE OR THE TASK WILL BE FAILED):

In [ ]:
import pandas as pd

# Load data
df = pd.read_csv('./data/action.csv')

# Group by certificate
grouped_data = df.groupby('certificate')

# Display grouped data (showing first entries for each group)
for name, group in grouped_data:
    print(f"\nGroup: {name}")
    print(group.head())

Group: 12
         movie_id            movie_name  year  ...                                            star_id  votes gross(in $)
9618   tt15450156         Junkrat Train  2021  ...  /name/nm12948470/,/name/nm7579371/,/name/nm740...  145.0         NaN
29408  tt15661136  Superman: Jubilation  2023  ...  /name/nm13020611/,/name/nm13020612/,/name/nm12...    NaN         NaN

[2 rows x 14 columns]

Group: 13+
         movie_id          movie_name  year  ...                                            star_id     votes gross(in $)
499     tt0080455  The Blues Brothers  1980  ...  /name/nm0000004/,/name/nm0000101/,/name/nm0130...  203510.0  57229890.0
1482   tt21111120       The Point Men  2023  ...  /name/nm1593460/,/name/nm1058565/,/name/nm7412...      90.0         NaN
5122   tt15673502  Return of the Dark  2023  ...  /name/nm4606848/,/name/nm4607440/,/name/nm5949...       NaN         NaN
17248  tt25393886      The Other Side  2023  ...                                  /name/nm10602151/       NaN         NaN

[4 rows x 14 columns]

Group: 16+
         movie_id    movie_name  year  ...                                            star_id votes gross(in $)
2743   tt25503544       Phantom  2023  ...  /name/nm0812555/,/name/nm2671586/,/name/nm6476...  32.0         NaN
15792  tt21109580  The Assassin  2023  ...  /name/nm1203299/,/name/nm7713754/,/name/nm0793...   NaN         NaN

[2 rows x 14 columns]

Group: 18+
        movie_id             movie_name  year  ...                                            star_id     votes gross(in $)
389    tt0083944            First Blood  1982  ...  /name/nm0000230/,/name/nm0001133/,/name/nm0001...  257935.0  47212904.0
485   tt15575470   Project Wolf Hunting  2022  ...  /name/nm5364609/,/name/nm8589353/,/name/nm4746...    2295.0         NaN
858    tt0067116  The French Connection  1971  ...  /name/nm0000432/,/name/nm0001702/,/name/nm0721...  125403.0  15630710.0
1678   tt0082250          Death Wish II  1982  ...  /name/nm0000314/,/name/nm0409866/,/name/nm0306...   16698.0  16100000.0
2143   tt0100232             Navy Seals  1990  ...  /name/nm0000221/,/name/nm0000299/,/name/nm0000...   17198.0  25069101.0

[5 rows x 14 columns]

Group: AO
        movie_id movie_name year certificate  ...                                               star                                            star_id  votes gross(in $)
42444  tt3961456       Shot   II          AO  ...  Ibrahim Azimi, \nSaid Farid Sadat, \nFeroz Khairy  /name/nm6708254/,/name/nm6708256/,/name/nm6708...    NaN         NaN

[1 rows x 14 columns]

Group: Approved
       movie_id              movie_name  year  ...                                            star_id     votes gross(in $)
431   tt0054047   The Magnificent Seven  1960  ...  /name/nm0000989/,/name/nm0000537/,/name/nm0000...   96868.0   4905000.0
724   tt0053125      North by Northwest  1959  ...  /name/nm0000026/,/name/nm0001693/,/name/nm0000...  331083.0  13275000.0
948   tt0033028            The Sea Hawk  1940  ...  /name/nm0001224/,/name/nm0550782/,/name/nm0001...   10158.0         NaN
1012  tt0061578         The Dirty Dozen  1967  ...  /name/nm0001511/,/name/nm0000308/,/name/nm0000...   75176.0  45300000.0
1083  tt0038478  Dick Tracy vs. Cueball  1946  ...  /name/nm0176747/,/name/nm0420331/,/name/nm0490...    1334.0         NaN

[5 rows x 14 columns]

Group: E
         movie_id                                   movie_name  year  ...                                            star_id votes gross(in $)
15988  tt22442740  Dhar Wars Episode IV: A New Generation Hope  2022  ...  /name/nm1669735/,/name/nm4990531/,/name/nm1161...   NaN         NaN
23946   tt0109535                             Dangerous Waters  1994  ...  /name/nm0640154/,/name/nm1478568/,/name/nm0025...  30.0         NaN

[2 rows x 14 columns]

Group: E10+
         movie_id                   movie_name  year  ...                                            star_id votes gross(in $)
41709  tt16733174  An Egg's Guide to Minecraft  2020  ...                  /name/nm6304426/,/name/nm4334345/  10.0         NaN
51280   tt6568628                   Bir Bikram  2016  ...  /name/nm4741033/,/name/nm8821601/,/name/nm8804...  62.0         NaN

[2 rows x 14 columns]

Group: G
        movie_id                    movie_name  year  ...                                            star_id    votes gross(in $)
510    tt0057193  It's a Mad Mad Mad Mad World  1963  ...  /name/nm0000075/,/name/nm0000926/,/name/nm0581...  43032.0  46300000.0
775    tt0064505               The Italian Job  1969  ...  /name/nm0000323/,/name/nm0002021/,/name/nm0001...  47537.0         NaN
990   tt11832046         PAW Patrol: The Movie  2021  ...  /name/nm1347153/,/name/nm0661132/,/name/nm6033...   6650.0  40127371.0
1289   tt0056197               The Longest Day  1962  ...  /name/nm0554249/,/name/nm0652631/,/name/nm0926...  56834.0  39100000.0
1483   tt0046534         The War of the Worlds  1953  ...  /name/nm0058001/,/name/nm0732378/,/name/nm0871...  36652.0   4360000.0

[5 rows x 14 columns]

Group: GP
       movie_id             movie_name  year  ...                                            star_id   votes gross(in $)
2139  tt0066832             Billy Jack  1971  ...  /name/nm0490871/,/name/nm0852255/,/name/nm0397...  6235.0  98000000.0
3332  tt0066767     The Anderson Tapes  1971  ...  /name/nm0000125/,/name/nm0001007/,/name/nm0000...  8203.0  10900000.0
4394  tt0067976  When Eight Bells Toll  1971  ...  /name/nm0000164/,/name/nm0370144/,/name/nm0605...  2409.0         NaN
4675  tt0067055                Equinox  1970  ...  /name/nm0613830/,/name/nm0569100/,/name/nm0174...  3281.0    248300.0
4874  tt0067329           The Last Run  1971  ...  /name/nm0001379/,/name/nm0001715/,/name/nm0615...  1808.0         NaN

[5 rows x 14 columns]

Group: M
       movie_id                  movie_name  year  ...                                            star_id     votes gross(in $)
1110  tt6277462  Brahmastra Part One: Shiva  2022  ...  /name/nm0000821/,/name/nm1633541/,/name/nm1017...  107136.0         NaN
1423  tt0065207           Where Eagles Dare  1968  ...  /name/nm0000009/,/name/nm0000142/,/name/nm0881...   59623.0         NaN
1942  tt0064615             Mackenna's Gold  1969  ...  /name/nm0000060/,/name/nm0001725/,/name/nm0001...    9130.0         NaN
2335  tt0065215                     Winning  1969  ...  /name/nm0000056/,/name/nm0940946/,/name/nm0001...    2084.0  14644335.0
3924  tt0061429    A Bullet for the General  1967  ...  /name/nm0002231/,/name/nm0001428/,/name/nm0000...    4700.0         NaN

[5 rows x 14 columns]

Group: M/PG
       movie_id             movie_name  year  ...                                            star_id    votes gross(in $)
985   tt0062765                Bullitt  1968  ...  /name/nm0000537/,/name/nm0000302/,/name/nm0001...  70970.0  42300873.0
4178  tt0066001  The Looking Glass War  1970  ...  /name/nm0427756/,/name/nm0214729/,/name/nm0724...   1289.0    168000.0
4691  tt0062639       Farewell, Friend  1968  ...  /name/nm0001128/,/name/nm0000314/,/name/nm0287...   3596.0         NaN
6301  tt0064300         The 5-Man Army  1969  ...  /name/nm0956953/,/name/nm0817881/,/name/nm0336...   1674.0         NaN
6843  tt0064148           The Chairman  1969  ...  /name/nm0000060/,/name/nm0382391/,/name/nm0384...   1315.0         NaN

[5 rows x 14 columns]

Group: MA-13
         movie_id     movie_name  year  ...                                            star_id votes gross(in $)
10202  tt13864330  The Immortals  2021  ...  /name/nm12241869/,/name/nm5412778/,/name/nm122...  12.0         NaN
15183  tt10926740         Ransom  1988  ...  /name/nm0841795/,/name/nm0599787/,/name/nm0310...  13.0         NaN

[2 rows x 14 columns]

Group: NC-17
       movie_id   movie_name  year  ...                                            star_id    votes gross(in $)
2174  tt1692190         Hell  2010  ...  /name/nm0017343/,/name/nm1370408/,/name/nm0350...  10921.0         NaN
3543  tt0103111  Hard to Die  1990  ...  /name/nm0364703/,/name/nm0562927/,/name/nm0244...   1352.0         NaN

[2 rows x 14 columns]

Group: Not Rated
       movie_id      movie_name  year  ...                                            star_id     votes gross(in $)
10   tt12844910         Pathaan  2023  ...  /name/nm0451321/,/name/nm2138653/,/name/nm1303...  120080.0         NaN
27    tt8178634             RRR  2022  ...  /name/nm1694524/,/name/nm2776304/,/name/nm0222...  135454.0         NaN
285   tt5700672  Train to Busan  2016  ...  /name/nm1508003/,/name/nm1869756/,/name/nm3011...  227586.0   2129768.0
370   tt7430722             War  2019  ...  /name/nm0004335/,/name/nm5899377/,/name/nm5744...   27826.0         NaN
382  tt12731980       Old Henry  2021  ...  /name/nm0625789/,/name/nm2020278/,/name/nm6349...   28019.0         NaN

[5 rows x 14 columns]

Group: Open
        movie_id   movie_name  year certificate  ...                                               star                                            star_id  votes gross(in $)
41899  tt1828172  Dream Wagon  2017        Open  ...  Robert Miano, \nSilvia Spross, \nGary Wasniews...  /name/nm0583951/,/name/nm1133275/,/name/nm3207...    NaN         NaN

[1 rows x 14 columns]

Group: PG
      movie_id               movie_name  year  ...                                            star_id      votes  gross(in $)
14   tt0092099                  Top Gun  1986  ...  /name/nm0000129/,/name/nm0000209/,/name/nm0000...   461419.0  179800601.0
44  tt10298840            Strange World  2022  ...  /name/nm5945690/,/name/nm0350453/,/name/nm7187...    34585.0          NaN
55   tt0082971  Raiders of the Lost Ark  1981  ...  /name/nm0000148/,/name/nm0000261/,/name/nm0293...   974011.0  248159971.0
71   tt0096446                   Willow  1988  ...  /name/nm0000174/,/name/nm0000695/,/name/nm0001...   125340.0   57269863.0
92   tt0076759                Star Wars  1977  ...  /name/nm0000434/,/name/nm0000148/,/name/nm0000...  1374568.0  322740140.0

[5 rows x 14 columns]

Group: PG-13
      movie_id                         movie_name  year  ...                                            star_id     votes  gross(in $)
0    tt9114286     Black Panther: Wakanda Forever  2022  ...  /name/nm4004793/,/name/nm2143282/,/name/nm1775...  204835.0          NaN
1    tt1630029           Avatar: The Way of Water  2022  ...  /name/nm0941777/,/name/nm0757855/,/name/nm0000...  295119.0          NaN
5   tt10954600  Ant-Man and the Wasp: Quantumania  2023  ...  /name/nm0748620/,/name/nm1431940/,/name/nm3718...    5396.0          NaN
9    tt1745960                  Top Gun: Maverick  2022  ...  /name/nm0000129/,/name/nm0000124/,/name/nm1886...  526016.0          NaN
12   tt1825683                      Black Panther  2018  ...  /name/nm1569276/,/name/nm0430107/,/name/nm2143...  785813.0  700059566.0

[5 rows x 14 columns]

Group: Passed
       movie_id              movie_name  year  ...                                            star_id    votes gross(in $)
919   tt0037642              Dick Tracy  1945  ...  /name/nm0176747/,/name/nm0420331/,/name/nm0563...   1505.0         NaN
1346  tt0040076  Adventures of Don Juan  1948  ...  /name/nm0001224/,/name/nm0511798/,/name/nm0001...   3274.0   4719700.0
1387  tt0026174           Captain Blood  1935  ...  /name/nm0001224/,/name/nm0000014/,/name/nm0041...  14814.0   2958260.0
1774  tt0059243          The Great Race  1965  ...  /name/nm0000348/,/name/nm0000081/,/name/nm0000...  18457.0  25333333.0
1901  tt0017925             The General  1926  ...  /name/nm0000036/,/name/nm0000036/,/name/nm0533...  92643.0   1033895.0

[5 rows x 14 columns]

Group: R
     movie_id                         movie_name  year  ...                                            star_id     votes gross(in $)
2   tt5884796                              Plane  2023  ...  /name/nm0124930/,/name/nm1591496/,/name/nm0001...   26220.0         NaN
3   tt6710474  Everything Everywhere All at Once  2022  ...  /name/nm3215397/,/name/nm0000706/,/name/nm3513...  327858.0         NaN
6   tt9686790                    Shotgun Wedding  2022  ...  /name/nm0000182/,/name/nm0241049/,/name/nm0005...   21529.0         NaN
7  tt12593682                       Bullet Train  2022  ...  /name/nm0000093/,/name/nm1428821/,/name/nm1093...  293635.0         NaN
8   tt1016150     All Quiet on the Western Front  2022  ...  /name/nm0436835/,/name/nm3477129/,/name/nm6037...  139754.0         NaN

[5 rows x 14 columns]

Group: T
         movie_id             movie_name  year certificate runtime  ...        director_id  star                            star_id votes gross(in $)
36045  tt18304376  SMG4: Meggy's Destiny  2020           T  45 min  ...  /name/nm10399976/   NaN  /name/nm9379615/,/name/nm9072464/   6.0         NaN

[1 rows x 14 columns]

Group: TV-14
        movie_id        movie_name  year  ...                                            star_id    votes gross(in $)
162   tt22352848            Jung_E  2023  ...  /name/nm12482404/,/name/nm11991235/,/name/nm13...   7374.0         NaN
186   tt11116912             Troll  2022  ...  /name/nm3462742/,/name/nm1504755/,/name/nm3162...  41365.0         NaN
957    tt2479478  The Ridiculous 6  2015  ...  /name/nm0001191/,/name/nm0187719/,/name/nm0306...  50639.0         NaN
1049  tt10763820       Night Teeth  2021  ...  /name/nm7449863/,/name/nm2913275/,/name/nm4867...  19400.0         NaN
1200  tt10805970            Raangi  2022  ...  /name/nm1375534/,/name/nm9503553/,/name/nm1452...    773.0         NaN

[5 rows x 14 columns]

Group: TV-G
        movie_id                                movie_name  year  ...                                            star_id   votes gross(in $)
2140  tt20202136                           The Pocketwatch   NaN  ...  /name/nm10472913/,/name/nm1942207/,/name/nm135...     NaN         NaN
2307  tt13926132                                Ivy & Bean  2022  ...  /name/nm12545199/,/name/nm12853339/,/name/nm12...   272.0         NaN
3373  tt10540242                            The Main Event  2020  ...  /name/nm3695624/,/name/nm0036651/,/name/nm1269...  2446.0         NaN
5550   tt9507234  Digimon Adventure: Last Evolution Kizuna  2020  ...  /name/nm5137121/,/name/nm2893431/,/name/nm4986...  1648.0         NaN
5582   tt0277327           As Far as My Feet Will Carry Me  2001  ...  /name/nm0079322/,/name/nm0127036/,/name/nm0467...  7727.0         NaN

[5 rows x 14 columns]

Group: TV-MA
       movie_id                       movie_name  year  ...                                            star_id     votes gross(in $)
11   tt15486810             Teen Wolf: The Movie  2023  ...  /name/nm0692677/,/name/nm3706952/,/name/nm1555...    9026.0         NaN
91   tt13131232                    Mission Majnu  2023  ...  /name/nm3289096/,/name/nm8612305/,/name/nm0786...   38631.0         NaN
219   tt3967856                             Okja  2017  ...  /name/nm0842770/,/name/nm0200452/,/name/nm3673...  124273.0         NaN
238   tt9243946  El Camino: A Breaking Bad Movie  2019  ...  /name/nm0666739/,/name/nm0052186/,/name/nm2804...  257986.0         NaN
251   tt7605074              The Wandering Earth  2019  ...  /name/nm0943104/,/name/nm9524976/,/name/nm2974...   32574.0   5875487.0

[5 rows x 14 columns]

Group: TV-PG
        movie_id        movie_name  year  ...                                            star_id    votes gross(in $)
1277  tt10888708     The Sleepover  2020  ...  /name/nm9642493/,/name/nm5748413/,/name/nm7446...  10993.0         NaN
1542  tt15035506  Fantasy Football  2022  ...  /name/nm6343162/,/name/nm14110820/,/name/nm132...    483.0         NaN
2041  tt16360006            Bubble  2022  ...  /name/nm5019585/,/name/nm13388962/,/name/nm146...   6217.0         NaN
2333   tt0439630         Initial D  2005  ...  /name/nm0538320/,/name/nm1442561/,/name/nm1727...   9058.0         NaN
2454   tt7133686          Next Gen  2018  ...  /name/nm1666476/,/name/nm0193484/,/name/nm1024...  18117.0         NaN

[5 rows x 14 columns]

Group: TV-Y
         movie_id                          movie_name  year  ...                                            star_id  votes gross(in $)
7150   tt13150606  Octonauts & the Great Barrier Reef  2020  ...  /name/nm0118671/,/name/nm11923601/,/name/nm030...  167.0         NaN
16896  tt13034096        Horrid Henry's Gross Day Out  2020  ...  /name/nm0254176/,/name/nm1052583/,/name/nm1469...   48.0         NaN

[2 rows x 14 columns]

Group: TV-Y7
        movie_id                                         movie_name  year  ...                                            star_id   votes gross(in $)
2031   tt9784708  Rise of the Teenage Mutant Ninja Turtles: The ...  2022  ...  /name/nm2778420/,/name/nm2355635/,/name/nm0589...  5343.0         NaN
2456   tt8456190                                          Seal Team  2021  ...  /name/nm3568340/,/name/nm0799777/,/name/nm0000...  1557.0         NaN
2479  tt12851396                   Trollhunters: Rise of the Titans  2021  ...  /name/nm2508936/,/name/nm2112570/,/name/nm0022...  5302.0         NaN
3367   tt8856470           Pokémon: Mewtwo Strikes Back - Evolution  2019  ...  /name/nm4114096/,/name/nm0951197/,/name/nm2516...  5749.0         NaN
3815   tt9228950                                      Malibu Rescue  2019  ...  /name/nm7221817/,/name/nm3946934/,/name/nm4559...  1371.0         NaN

[5 rows x 14 columns]

Group: TV-Y7-FV
       movie_id                                movie_name  year  ...                                            star_id   votes gross(in $)
7001  tt1000095  Pokémon Ranger and the Temple of the Sea  2006  ...  /name/nm4383805/,/name/nm2516299/,/name/nm1690...  2740.0         NaN
8130  tt1042916                  Totally Spies! The Movie  2009  ...  /name/nm2463304/,/name/nm0851963/,/name/nm0874...   720.0         NaN

[2 rows x 14 columns]

Group: Unrated
        movie_id      movie_name  year  ...                                            star_id    votes gross(in $)
590   tt13468602        The Lair  2022  ...  /name/nm5016840/,/name/nm1401022/,/name/nm0051...   2788.0         NaN
1581   tt4348012          Mayhem  2017  ...  /name/nm3081796/,/name/nm3034977/,/name/nm0104...  22632.0         NaN
1790   tt4076980  The Throwaways  2015  ...  /name/nm0111730/,/name/nm0001001/,/name/nm0164...   1600.0         NaN
1946   tt1128075   Love Exposure  2008  ...  /name/nm2597963/,/name/nm2098603/,/name/nm2747...  14571.0         NaN
1988   tt0130236     Samurai Cop  1991  ...  /name/nm0120494/,/name/nm0360481/,/name/nm0417...   9083.0         NaN

[5 rows x 14 columns]

Group: X
        movie_id                      movie_name  year  ...                                            star_id  votes gross(in $)
3633   tt0064961         A Thousand & One Nights  1969  ...  /name/nm3272660/,/name/nm0441353/,/name/nm0593...  734.0         NaN
4826   tt0067145                      The Godson  1971  ...  /name/nm0259079/,/name/nm0021690/,/name/nm1151...  214.0         NaN
6018   tt0090145                        Tenement  1985  ...  /name/nm0528716/,/name/nm0075957/,/name/nm0117...  902.0         NaN
7472   tt0066417  Street of a Thousand Pleasures  1972  ...  /name/nm0876356/,/name/nm0414027/,/name/nm0949...  255.0         NaN
10712  tt0066285                     The Ravager  1970  ...  /name/nm0013230/,/name/nm0519020/,/name/nm0371...  167.0         NaN

[5 rows x 14 columns]

<|assistant|>

Finished: The data from `./data/action.csv` has been successfully loaded and grouped by the 'certificate' column. Each group's first few entries have been displayed as requested.