<|system|>

You are an AI Agent who is proficient in solve complicated task. 
Each step you should wirte executable code to fulfill user query. Any Response without code means the task is completed and you do not have another chance to submit code

You are equipped with a codeinterpreter. You can give the code and get the execution result of your code. You should use the codeinterpreter in the following format: 
<|execute_start|>
```python  

<your code>  

``` 
<|execute_end|> 


WARNING:Do not use cv2.waitKey(0) cv2.destroyAllWindows()!!! Or the program will be destoried

Each round, your answer should ALWAYS use the following format(Each of your response should contain code, until you complete the task):


Analyse:(Analyse the message you received and plan what you should do)  

This Step Todo: One Subtask need to be done at this step  

Code(WARNING:MAKE SURE YOU CODE FOLLOW THE FORMAT AND WRITE CODE OR THE TASK WILL BE FAILED): 
<|execute_start|>
```python  

<your code>  


```  
<|execute_end|>


You will got the result of your code after each step. When the code of previous subtask is excuted successfully, you can write and excuet the code for next subtask
When all the code your write are executed and you got the code result that can fulfill the user query, you should summarize the previous analyse process and make a formal response to user, The response should follow this format:
WARNING:MAKE SURE YOU GET THE CODE EXECUTED RESULT THAT FULFILLED ALL REQUIREMENT OF USER BEFORE USE "Finished"
Finished: <Answer to user query>

Some notice:
1. When you want to draw a plot, use plt.savefig() and print the image path in markdown format instead of plt.show()
2. Save anything to ./output folder
3. End the process whenever you complete the task, When you do not have Action(Code), Use: Finished: <summary the analyse process and make response>
4. Do not ask for user input in your python code.

<|user|>

[INFO]The data is uploaded to ./data/horror.csv,./data/Highest grossing movies of 2022.xlsx

<|user|>

两张表里有没有相同的电影？

<|assistant|>

Analyse: The task is to find out if there are any common movies between the horror movies dataset and the highest grossing movies of 2022 dataset.

This Step Todo: Read the datasets and compare the movie titles.

Code:
<|execute_start|>

In [ ]:
import pandas as pd

# Read the horror movies dataset
horror_movies = pd.read_csv('./data/horror.csv')

# Read the highest grossing movies of 2022 dataset
highest_grossing_movies = pd.read_excel('./data/Highest grossing movies of 2022.xlsx')

# Convert the movie titles to lowercase for comparison
horror_movies['title'] = horror_movies['title'].str.lower()
highest_grossing_movies['Title'] = highest_grossing_movies['Title'].str.lower()

# Compare the movie titles
common_movies = horror_movies.merge(highest_grossing_movies, how='inner', on='title')

# Print the common movies
print(common_movies)

There are some errors in the code. All variable in this cell should be redefined,Please Debug:
Error: KeyError
'title'

<|assistant|>

Analyse: The error is due to the fact that the column name 'title' does not exist in one of the datasets.

This Step Todo: Check the column names of both datasets and redefine the variables accordingly.

Code:
<|execute_start|>

In [ ]:
import pandas as pd

# Read the horror movies dataset
horror_movies = pd.read_csv('./data/horror.csv')

# Read the highest grossing movies of 2022 dataset
highest_grossing_movies = pd.read_excel('./data/Highest grossing movies of 2022.xlsx')

# Check the column names of both datasets
print(horror_movies.columns)
print(highest_grossing_movies.columns)

# Define the column names for comparison
horror_movie_title = 'Movie Title'  # Assuming this is the column name for movie titles in horror_movies
highest_grossing_movie_title = 'Title'  # Assuming this is the column name for movie titles in highest_grossing_movies

# Convert the movie titles to lowercase for comparison
horror_movies[horror_movie_title] = horror_movies[horror_movie_title].str.lower()
highest_grossing_movies[highest_grossing_movie_title] = highest_grossing_movies[highest_grossing_movie_title].str.lower()

# Compare the movie titles
common_movies = horror_movies.merge(highest_grossing_movies, how='inner', left_on=horror_movie_title, right_on=highest_grossing_movie_title)

# Print the common movies
print(common_movies)

Index(['movie_id', 'movie_name', 'year', 'certificate', 'runtime', 'genre',
       'rating', 'description', 'director', 'director_id', 'star', 'star_id',
       'votes', 'gross(in $)'],
      dtype='object')
Index(['   Rank', '   Movies', '       Worldwide($)', '       Domestic($)',
       '  Domestic share(%)', '      Foreign($)', '   Foreign share(%)',
       '    '],
      dtype='object')
There are some errors in the code. All variable in this cell should be redefined,Please Debug:
Error: KeyError
'Movie Title'

<|assistant|>

Analyse: The error is due to the fact that the column names 'Movie Title' do not exist in either of the datasets.

This Step Todo: Check the column names of both datasets and redefine the variables accordingly.

Code:
<|execute_start|>

In [ ]:
import pandas as pd

# Read the horror movies dataset
horror_movies = pd.read_csv('./data/horror.csv')

# Read the highest grossing movies of 2022 dataset
highest_grossing_movies = pd.read_excel('./data/Highest grossing movies of 2022.xlsx')

# Check the column names of both datasets
print(horror_movies.columns)
print(highest_grossing_movies.columns)

# Define the column names for comparison
horror_movie_name = 'movie_name'  # Assuming this is the column name for movie titles in horror_movies
highest_grossing_movie_name = 'Movies'  # Assuming this is the column name for movie titles in highest_grossing_movies

# Convert the movie titles to lowercase for comparison
horror_movies[horror_movie_name] = horror_movies[horror_movie_name].str.lower()
highest_grossing_movies[highest_grossing_movie_name] = highest_grossing_movies[highest_grossing_movie_name].str.lower()

# Compare the movie titles
common_movies = horror_movies.merge(highest_grossing_movies, how='inner', left_on=horror_movie_name, right_on=highest_grossing_movie_name)

# Print the common movies
print(common_movies)

Index(['movie_id', 'movie_name', 'year', 'certificate', 'runtime', 'genre',
       'rating', 'description', 'director', 'director_id', 'star', 'star_id',
       'votes', 'gross(in $)'],
      dtype='object')
Index(['   Rank', '   Movies', '       Worldwide($)', '       Domestic($)',
       '  Domestic share(%)', '      Foreign($)', '   Foreign share(%)',
       '    '],
      dtype='object')
There are some errors in the code. All variable in this cell should be redefined,Please Debug:
Error: KeyError
'Movies'

<|assistant|>

Analyse: The error is due to the fact that the column name 'Movies' does not exist in the horror movies dataset.

This Step Todo: Check the column names of both datasets and redefine the variables accordingly.

Code:
<|execute_start|>

In [ ]:
import pandas as pd

# Read the horror movies dataset
horror_movies = pd.read_csv('./data/horror.csv')

# Read the highest grossing movies of 2022 dataset
highest_grossing_movies = pd.read_excel('./data/Highest grossing movies of 2022.xlsx')

# Check the column names of both datasets
print(horror_movies.columns)
print(highest_grossing_movies.columns)

# Define the column names for comparison
horror_movie_name = 'movie_name'  # Assuming this is the column name for movie titles in horror_movies
highest_grossing_movie_title = '   Movies'  # Assuming this is the column name for movie titles in highest_grossing_movies

# Convert the movie titles to lowercase for comparison
horror_movies[horror_movie_name] = horror_movies[horror_movie_name].str.lower()
highest_grossing_movies[highest_grossing_movie_title] = highest_grossing_movies[highest_grossing_movie_title].str.lower()

# Compare the movie titles
common_movies = horror_movies.merge(highest_grossing_movies, how='inner', left_on=horror_movie_name, right_on=highest_grossing_movie_title)

# Print the common movies
print(common_movies)

Index(['movie_id', 'movie_name', 'year', 'certificate', 'runtime', 'genre',
       'rating', 'description', 'director', 'director_id', 'star', 'star_id',
       'votes', 'gross(in $)'],
      dtype='object')
Index(['   Rank', '   Movies', '       Worldwide($)', '       Domestic($)',
       '  Domestic share(%)', '      Foreign($)', '   Foreign share(%)',
       '    '],
      dtype='object')
      movie_id                                   movie_name   year  \
0   tt13560574                                            x   2022
1   tt15791034                                    barbarian   2022
2   tt10954984                                         nope   2022
3   tt11245972                                       scream   2022
4    tt7144666                              the black phone   2021
5    tt0117571                                       scream   1996
6   tt13841850                                          men   2022
7    tt8110652                         bodies bodies bodies   2022
8    tt9419884  doctor strange in the multiverse of madness   2022
9   tt13223398                                        beast   2022
10  tt13223398                                        beast   2022
11  tt12873562                               the invitation   2022
12  tt11851548                           orphan: first kill   2022
13   tt5108870                                      morbius   2022
14   tt1798632                                  firestarter   2022
15   tt2400463                               the invitation   2015
16   tt0087262                                  firestarter   1984
17   tt6455162                            bhool bhulaiyaa 2   2022
18   tt1057576                                    uncharted   2009
19   tt0086262                                       scream   1981
20   tt0118200                                            x   1996
21   tt0418879                                       memory   2006
22   tt3463878                                easter sunday   2014
23   tt1107394                                          dog   2009
24   tt3088598                                            x   2013
25   tt2150812                                       memory   2008
26   tt1423333                                        beast   2007
27   tt1423333                                        beast   2007
28   tt4359322                                        beast   2009
29   tt4359322                                        beast   2009
30   tt4261746                                        beast     IV
31   tt4261746                                        beast     IV
32   tt3962300                                       scream   2007
33  tt22098310                                       scream   2021
34  tt10389902                                        beast   2019
35  tt10389902                                        beast   2019
36  tt21160288                                        beast  XVIII
37  tt21160288                                        beast  XVIII
38   tt4092288                                         hunt   2015
39  tt15574914                                            x      X
40  tt19268772                                          dog    VII
41   tt5235668                                            x   2009

   certificate  runtime                       genre  rating  \
0            R  105 min   Horror, Mystery, Thriller     6.6
1            R  102 min   Horror, Mystery, Thriller     7.0
2            R  130 min     Horror, Mystery, Sci-Fi     6.9
3            R  114 min   Horror, Mystery, Thriller     6.3
4            R  103 min            Horror, Thriller     6.9
5            R  111 min             Horror, Mystery     7.4
6            R  100 min      Drama, Fantasy, Horror     6.1
7            R   94 min    Comedy, Horror, Thriller     6.3
8        PG-13  126 min  Action, Adventure, Fantasy     6.9
9            R   93 min    Action, Adventure, Drama     5.6
10           R   93 min    Action, Adventure, Drama     5.6
11       PG-13  105 min            Horror, Thriller     5.3
12           R   99 min        Crime, Drama, Horror     5.9
13       PG-13  104 min   Action, Adventure, Horror     5.2
14           R   94 min       Drama, Horror, Sci-Fi     4.6
15   Not Rated  100 min      Drama, Horror, Mystery     6.6
16           R  114 min      Action, Horror, Sci-Fi     6.0
17         NaN  143 min       Comedy, Drama, Horror     5.7
18         NaN   79 min                      Horror     2.1
19           R   82 min             Horror, Mystery     2.9
20           R  100 min  Animation, Action, Fantasy     6.1
21           R   98 min      Drama, Horror, Mystery     5.2
22         NaN   95 min              Comedy, Horror     5.0
23   Not Rated   90 min                      Horror     4.7
24         NaN   79 min     Drama, Horror, Thriller     NaN
25         NaN   91 min   Horror, Mystery, Thriller     5.5
26         NaN   85 min                      Horror     7.0
27         NaN   85 min                      Horror     7.0
28         NaN   87 min                      Horror     5.5
29         NaN   87 min                      Horror     5.5
30         NaN   90 min    Fantasy, Horror, Romance     NaN
31         NaN   90 min    Fantasy, Horror, Romance     NaN
32         NaN   92 min                      Horror     NaN
33         NaN   47 min       Comedy, Horror, Music     NaN
34         NaN      NaN                      Horror     NaN
35         NaN      NaN                      Horror     NaN
36         NaN      NaN               Crime, Horror     NaN
37         NaN      NaN               Crime, Horror     NaN
38         NaN   91 min            Horror, Thriller     6.3
39         NaN      NaN              Horror, Sci-Fi     NaN
40         NaN      NaN                      Horror     NaN
41   Not Rated   88 min                      Horror     NaN

                                          description  \
0   In 1979, a group of young filmmakers set out t...
1   A woman staying at an Airbnb discovers that th...
2   The residents of a lonely gulch in inland Cali...
3   25 years after a streak of brutal murders shoc...
4   After being abducted by a child killer and loc...
5   A year after the murder of her mother, a teena...
6   A young woman goes on a solo vacation to the E...
7   When a group of rich 20-somethings plan a hurr...
8   Doctor Strange teams up with a mysterious teen...
9   A father and his two teenage daughters find th...
10  A father and his two teenage daughters find th...
11  A young woman is courted and swept off her fee...
12  After orchestrating a brilliant escape from an...
13  Biochemist Michael Morbius tries to cure himse...
14  A young girl tries to understand how she myste...
15  When a man accepts an invitation to a dinner p...
16  A couple who participated in a potent medical ...
17  When strangers Reet and Ruhan cross paths, the...
18  "Uncharted" is a story of a documentary film c...
19  A group of friends on a rafting trip down a ri...
20  In 1999, a battle takes place between two fact...
21  A medical researcher teams with a retired doct...
22  It's been 24 years since the serial killer Dou...
23  A family's secret conceals the existence of so...
24  Two siblings, a private investigator and a man...
25  When the police investigate reports of a littl...
26  In a remote, isolated community, two men make ...
27  In a remote, isolated community, two men make ...
28  A convicted murderer escapes from a secure uni...
29  A convicted murderer escapes from a secure uni...
30  A peasant farm girl enlists the help of a fles...
31  A peasant farm girl enlists the help of a fles...
32  When a group of friends decide to spend a nigh...
33  An experimental film about terrorism, media, a...
34                                         Add a Plot
35                                         Add a Plot
36                                         Add a Plot
37                                         Add a Plot
38  Two young boys are chased through the woods by...
39                                         Add a Plot
40  A young couple must survive the night when the...
41  Xavier Morrison is an ordinary man with a terr...

                                  director        director_id  ...     votes  \
0                                  Ti West   /name/nm1488800/  ...  113560.0
1                             Zach Cregger   /name/nm1199107/  ...  131276.0
2                             Jordan Peele   /name/nm1443502/  ...  200040.0
3   Matt Bettinelli-Olpin, \nTyler Gillett   /name/nm2366012/  ...  119827.0
4                         Scott Derrickson   /name/nm0220600/  ...  151936.0
5                               Wes Craven   /name/nm0000127/  ...  349860.0
6                             Alex Garland   /name/nm0307497/  ...   45990.0
7                             Halina Reijn   /name/nm0717603/  ...   39885.0
8                                Sam Raimi   /name/nm0000600/  ...  425235.0
9                        Baltasar Kormákur   /name/nm0466349/  ...   28274.0
10                       Baltasar Kormákur   /name/nm0466349/  ...   28274.0
11                     Jessica M. Thompson   /name/nm3701612/  ...   21640.0
12                      William Brent Bell   /name/nm0068587/  ...   35085.0
13                         Daniel Espinosa   /name/nm1174251/  ...  130990.0
14                            Keith Thomas   /name/nm8928699/  ...   17352.0
15                            Karyn Kusama   /name/nm0476201/  ...  112084.0
16                          Mark L. Lester   /name/nm0504495/  ...   35174.0
17                            Anees Bazmee   /name/nm0063357/  ...   31446.0
18                             Frank Nunez   /name/nm1459683/  ...     547.0
19                       Byron Quisenberry   /name/nm0704434/  ...     844.0
20                                 Rintarô   /name/nm0727336/  ...    2739.0
21                          Bennett Davlin   /name/nm1424658/  ...    1938.0
22                    Jeremy Todd Morehead   /name/nm5799326/  ...     109.0
23                           Timothy Gates   /name/nm1481153/  ...      72.0
24                              Aj Meadows   /name/nm3598141/  ...       NaN
25                      Torpong Tunkamhang   /name/nm2594509/  ...      35.0
26                            Jack Bennett   /name/nm3429301/  ...      14.0
27                            Jack Bennett   /name/nm3429301/  ...      14.0
28                              Chris Jupp   /name/nm5452291/  ...       9.0
29                              Chris Jupp   /name/nm5452291/  ...       9.0
30                                Max Gold   /name/nm3051443/  ...       NaN
31                                Max Gold   /name/nm3051443/  ...       NaN
32                     Jarungsak Wongleang   /name/nm6709112/  ...       NaN
33                  Sam Gill, \nLuke Neher  /name/nm10559458/  ...       NaN
34                            Akil Wingate   /name/nm1655484/  ...       NaN
35                            Akil Wingate   /name/nm1655484/  ...       NaN
36                                     NaN                NaN  ...       NaN
37                                     NaN                NaN  ...       NaN
38             Alex Roberts, \nLuke Hanson   /name/nm6808136/  ...      25.0
39                      Darren James Perry   /name/nm2504805/  ...       NaN
40                         Luka Stemberger   /name/nm8292141/  ...       NaN
41                           Terence Muncy   /name/nm2060284/  ...       NaN

    gross(in $)     Rank                                       Movies  \
0           NaN       80                                            x
1           NaN       57                                    barbarian
2           NaN       19                                         nope
3           NaN       22                                       scream
4    90123230.0       21                              the black phone
5   103046663.0       22                                       scream
6           NaN       95                                          men
7           NaN       89                         bodies bodies bodies
8           NaN        3  doctor strange in the multiverse of madness
9           NaN       38                                        beast
10          NaN       62                                        beast
11          NaN       46                               the invitation
12          NaN       78                           orphan: first kill
13          NaN       20                                      morbius
14          NaN       76                                  firestarter
15     231703.0       46                               the invitation
16   15100000.0       76                                  firestarter
17          NaN       63                            bhool bhulaiyaa 2
18          NaN       10                                    uncharted
19    1083395.0       22                                       scream
20     142544.0       80                                            x
21          NaN       83                                       memory
22          NaN       85                                easter sunday
23          NaN       31                                          dog
24          NaN       80                                            x
25          NaN       83                                       memory
26          NaN       38                                        beast
27          NaN       62                                        beast
28          NaN       38                                        beast
29          NaN       62                                        beast
30          NaN       38                                        beast
31          NaN       62                                        beast
32          NaN       22                                       scream
33          NaN       22                                       scream
34          NaN       38                                        beast
35          NaN       62                                        beast
36          NaN       38                                        beast
37          NaN       62                                        beast
38          NaN       90                                         hunt
39          NaN       80                                            x
40          NaN       31                                          dog
41          NaN       80                                            x

           Worldwide($)        Domestic($)   Domestic share(%)  \
0           $14,476,595        $11,765,309               0.813
1           $21,915,433        $20,915,433               0.954
2          $169,048,455       $122,746,455               0.726
3          $140,041,405        $81,641,405               0.583
4          $159,538,800        $89,857,800               0.563
5          $140,041,405        $81,641,405               0.583
6           $11,101,969         $7,587,853               0.683
7           $11,949,087        $11,354,813                0.95
8          $955,775,804       $411,331,607                0.43
9           $51,376,160        $30,766,160               0.599
10          $18,911,959                NaN                 NaN
11          $30,068,901        $21,468,901               0.714
12          $14,780,687         $5,348,536               0.362
13         $163,865,530        $73,865,530               0.451
14          $14,889,250         $9,589,250               0.644
15          $30,068,901        $21,468,901               0.714
16          $14,889,250         $9,589,250               0.644
17          $18,307,258                NaN                 NaN
18         $401,748,820       $148,648,820                0.37
19         $140,041,405        $81,641,405               0.583
20          $14,476,595        $11,765,309               0.813
21          $13,460,842         $7,329,043               0.544
22          $13,062,158        $13,005,330               0.996
23          $84,896,644        $61,778,069               0.728
24          $14,476,595        $11,765,309               0.813
25          $13,460,842         $7,329,043               0.544
26          $51,376,160        $30,766,160               0.599
27          $18,911,959                NaN                 NaN
28          $51,376,160        $30,766,160               0.599
29          $18,911,959                NaN                 NaN
30          $51,376,160        $30,766,160               0.599
31          $18,911,959                NaN                 NaN
32         $140,041,405        $81,641,405               0.583
33         $140,041,405        $81,641,405               0.583
34          $51,376,160        $30,766,160               0.599
35          $18,911,959                NaN                 NaN
36          $51,376,160        $30,766,160               0.599
37          $18,911,959                NaN                 NaN
38          $11,892,216                NaN                 NaN
39          $14,476,595        $11,765,309               0.813
40          $84,896,644        $61,778,069               0.728
41          $14,476,595        $11,765,309               0.813

         Foreign($)    Foreign share(%)
0        $2,711,286               0.187  NaN
1        $1,000,000               0.046  NaN
2       $46,302,000               0.274  NaN
3       $58,400,000               0.417  NaN
4       $69,681,000               0.437  NaN
5       $58,400,000               0.417  NaN
6        $3,514,116               0.317  NaN
7          $594,274               0.050  NaN
8      $544,444,197               0.570  NaN
9       $20,610,000               0.401  NaN
10      $18,911,959               1.000  NaN
11       $8,600,000               0.286  NaN
12       $9,432,151               0.638  NaN
13      $90,000,000               0.549  NaN
14       $5,300,000               0.356  NaN
15       $8,600,000               0.286  NaN
16       $5,300,000               0.356  NaN
17      $18,307,258               1.000  NaN
18     $253,100,000               0.630  NaN
19      $58,400,000               0.417  NaN
20       $2,711,286               0.187  NaN
21       $6,131,799               0.456  NaN
22          $56,828               0.004  NaN
23      $23,118,575               0.272  NaN
24       $2,711,286               0.187  NaN
25       $6,131,799               0.456  NaN
26      $20,610,000               0.401  NaN
27      $18,911,959               1.000  NaN
28      $20,610,000               0.401  NaN
29      $18,911,959               1.000  NaN
30      $20,610,000               0.401  NaN
31      $18,911,959               1.000  NaN
32      $58,400,000               0.417  NaN
33      $58,400,000               0.417  NaN
34      $20,610,000               0.401  NaN
35      $18,911,959               1.000  NaN
36      $20,610,000               0.401  NaN
37      $18,911,959               1.000  NaN
38      $11,892,216               1.000  NaN
39       $2,711,286               0.187  NaN
40      $23,118,575               0.272  NaN
41       $2,711,286               0.187  NaN

[42 rows x 22 columns]

<|assistant|>

Analyse: The error is due to the fact that the column name 'Movies' does not exist in the horror movies dataset.

This Step Todo: Check the column names of both datasets and redefine the variables accordingly.

Code:
<|execute_start|>

In [ ]:
import pandas as pd

# Read the horror movies dataset
horror_movies = pd.read_csv('./data/horror.csv')

# Read the highest grossing movies of 2022 dataset
highest_grossing_movies = pd.read_excel('./data/Highest grossing movies of 2022.xlsx')

# Check the column names of both datasets
print(horror_movies.columns)
print(highest_grossing_movies.columns)

# Define the column names for comparison
horror_movie_name = 'movie_name'  # Assuming this is the column name for movie titles in horror_movies
highest_grossing_movie_title = '   Movies'  # Assuming this is the column name for movie titles in highest_grossing_movies

# Convert the movie titles to lowercase for comparison
horror_movies[horror_movie_name] = horror_movies[horror_movie_name].str.lower()
highest_grossing_movies[highest_grossing_movie_title] = highest_grossing_movies[highest_grossing_movie_title].str.lower()

# Compare the movie titles
common_movies = horror_movies.merge(highest_grossing_movies, how='inner', left_on=horror_movie_name, right_on=highest_grossing_movie_title)

# Print the common movies
print(common_movies)

Index(['movie_id', 'movie_name', 'year', 'certificate', 'runtime', 'genre',
       'rating', 'description', 'director', 'director_id', 'star', 'star_id',
       'votes', 'gross(in $)'],
      dtype='object')
Index(['   Rank', '   Movies', '       Worldwide($)', '       Domestic($)',
       '  Domestic share(%)', '      Foreign($)', '   Foreign share(%)',
       '    '],
      dtype='object')
      movie_id                                   movie_name   year  \
0   tt13560574                                            x   2022
1   tt15791034                                    barbarian   2022
2   tt10954984                                         nope   2022
3   tt11245972                                       scream   2022
4    tt7144666                              the black phone   2021
5    tt0117571                                       scream   1996
6   tt13841850                                          men   2022
7    tt8110652                         bodies bodies bodies   2022
8    tt9419884  doctor strange in the multiverse of madness   2022
9   tt13223398                                        beast   2022
10  tt13223398                                        beast   2022
11  tt12873562                               the invitation   2022
12  tt11851548                           orphan: first kill   2022
13   tt5108870                                      morbius   2022
14   tt1798632                                  firestarter   2022
15   tt2400463                               the invitation   2015
16   tt0087262                                  firestarter   1984
17   tt6455162                            bhool bhulaiyaa 2   2022
18   tt1057576                                    uncharted   2009
19   tt0086262                                       scream   1981
20   tt0118200                                            x   1996
21   tt0418879                                       memory   2006
22   tt3463878                                easter sunday   2014
23   tt1107394                                          dog   2009
24   tt3088598                                            x   2013
25   tt2150812                                       memory   2008
26   tt1423333                                        beast   2007
27   tt1423333                                        beast   2007
28   tt4359322                                        beast   2009
29   tt4359322                                        beast   2009
30   tt4261746                                        beast     IV
31   tt4261746                                        beast     IV
32   tt3962300                                       scream   2007
33  tt22098310                                       scream   2021
34  tt10389902                                        beast   2019
35  tt10389902                                        beast   2019
36  tt21160288                                        beast  XVIII
37  tt21160288                                        beast  XVIII
38   tt4092288                                         hunt   2015
39  tt15574914                                            x      X
40  tt19268772                                          dog    VII
41   tt5235668                                            x   2009

   certificate  runtime                       genre  rating  \
0            R  105 min   Horror, Mystery, Thriller     6.6
1            R  102 min   Horror, Mystery, Thriller     7.0
2            R  130 min     Horror, Mystery, Sci-Fi     6.9
3            R  114 min   Horror, Mystery, Thriller     6.3
4            R  103 min            Horror, Thriller     6.9
5            R  111 min             Horror, Mystery     7.4
6            R  100 min      Drama, Fantasy, Horror     6.1
7            R   94 min    Comedy, Horror, Thriller     6.3
8        PG-13  126 min  Action, Adventure, Fantasy     6.9
9            R   93 min    Action, Adventure, Drama     5.6
10           R   93 min    Action, Adventure, Drama     5.6
11       PG-13  105 min            Horror, Thriller     5.3
12           R   99 min        Crime, Drama, Horror     5.9
13       PG-13  104 min   Action, Adventure, Horror     5.2
14           R   94 min       Drama, Horror, Sci-Fi     4.6
15   Not Rated  100 min      Drama, Horror, Mystery     6.6
16           R  114 min      Action, Horror, Sci-Fi     6.0
17         NaN  143 min       Comedy, Drama, Horror     5.7
18         NaN   79 min                      Horror     2.1
19           R   82 min             Horror, Mystery     2.9
20           R  100 min  Animation, Action, Fantasy     6.1
21           R   98 min      Drama, Horror, Mystery     5.2
22         NaN   95 min              Comedy, Horror     5.0
23   Not Rated   90 min                      Horror     4.7
24         NaN   79 min     Drama, Horror, Thriller     NaN
25         NaN   91 min   Horror, Mystery, Thriller     5.5
26         NaN   85 min                      Horror     7.0
27         NaN   85 min                      Horror     7.0
28         NaN   87 min                      Horror     5.5
29         NaN   87 min                      Horror     5.5
30         NaN   90 min    Fantasy, Horror, Romance     NaN
31         NaN   90 min    Fantasy, Horror, Romance     NaN
32         NaN   92 min                      Horror     NaN
33         NaN   47 min       Comedy, Horror, Music     NaN
34         NaN      NaN                      Horror     NaN
35         NaN      NaN                      Horror     NaN
36         NaN      NaN               Crime, Horror     NaN
37         NaN      NaN               Crime, Horror     NaN
38         NaN   91 min            Horror, Thriller     6.3
39         NaN      NaN              Horror, Sci-Fi     NaN
40         NaN      NaN                      Horror     NaN
41   Not Rated   88 min                      Horror     NaN

                                          description  \
0   In 1979, a group of young filmmakers set out t...
1   A woman staying at an Airbnb discovers that th...
2   The residents of a lonely gulch in inland Cali...
3   25 years after a streak of brutal murders shoc...
4   After being abducted by a child killer and loc...
5   A year after the murder of her mother, a teena...
6   A young woman goes on a solo vacation to the E...
7   When a group of rich 20-somethings plan a hurr...
8   Doctor Strange teams up with a mysterious teen...
9   A father and his two teenage daughters find th...
10  A father and his two teenage daughters find th...
11  A young woman is courted and swept off her fee...
12  After orchestrating a brilliant escape from an...
13  Biochemist Michael Morbius tries to cure himse...
14  A young girl tries to understand how she myste...
15  When a man accepts an invitation to a dinner p...
16  A couple who participated in a potent medical ...
17  When strangers Reet and Ruhan cross paths, the...
18  "Uncharted" is a story of a documentary film c...
19  A group of friends on a rafting trip down a ri...
20  In 1999, a battle takes place between two fact...
21  A medical researcher teams with a retired doct...
22  It's been 24 years since the serial killer Dou...
23  A family's secret conceals the existence of so...
24  Two siblings, a private investigator and a man...
25  When the police investigate reports of a littl...
26  In a remote, isolated community, two men make ...
27  In a remote, isolated community, two men make ...
28  A convicted murderer escapes from a secure uni...
29  A convicted murderer escapes from a secure uni...
30  A peasant farm girl enlists the help of a fles...
31  A peasant farm girl enlists the help of a fles...
32  When a group of friends decide to spend a nigh...
33  An experimental film about terrorism, media, a...
34                                         Add a Plot
35                                         Add a Plot
36                                         Add a Plot
37                                         Add a Plot
38  Two young boys are chased through the woods by...
39                                         Add a Plot
40  A young couple must survive the night when the...
41  Xavier Morrison is an ordinary man with a terr...

                                  director        director_id  ...     votes  \
0                                  Ti West   /name/nm1488800/  ...  113560.0
1                             Zach Cregger   /name/nm1199107/  ...  131276.0
2                             Jordan Peele   /name/nm1443502/  ...  200040.0
3   Matt Bettinelli-Olpin, \nTyler Gillett   /name/nm2366012/  ...  119827.0
4                         Scott Derrickson   /name/nm0220600/  ...  151936.0
5                               Wes Craven   /name/nm0000127/  ...  349860.0
6                             Alex Garland   /name/nm0307497/  ...   45990.0
7                             Halina Reijn   /name/nm0717603/  ...   39885.0
8                                Sam Raimi   /name/nm0000600/  ...  425235.0
9                        Baltasar Kormákur   /name/nm0466349/  ...   28274.0
10                       Baltasar Kormákur   /name/nm0466349/  ...   28274.0
11                     Jessica M. Thompson   /name/nm3701612/  ...   21640.0
12                      William Brent Bell   /name/nm0068587/  ...   35085.0
13                         Daniel Espinosa   /name/nm1174251/  ...  130990.0
14                            Keith Thomas   /name/nm8928699/  ...   17352.0
15                            Karyn Kusama   /name/nm0476201/  ...  112084.0
16                          Mark L. Lester   /name/nm0504495/  ...   35174.0
17                            Anees Bazmee   /name/nm0063357/  ...   31446.0
18                             Frank Nunez   /name/nm1459683/  ...     547.0
19                       Byron Quisenberry   /name/nm0704434/  ...     844.0
20                                 Rintarô   /name/nm0727336/  ...    2739.0
21                          Bennett Davlin   /name/nm1424658/  ...    1938.0
22                    Jeremy Todd Morehead   /name/nm5799326/  ...     109.0
23                           Timothy Gates   /name/nm1481153/  ...      72.0
24                              Aj Meadows   /name/nm3598141/  ...       NaN
25                      Torpong Tunkamhang   /name/nm2594509/  ...      35.0
26                            Jack Bennett   /name/nm3429301/  ...      14.0
27                            Jack Bennett   /name/nm3429301/  ...      14.0
28                              Chris Jupp   /name/nm5452291/  ...       9.0
29                              Chris Jupp   /name/nm5452291/  ...       9.0
30                                Max Gold   /name/nm3051443/  ...       NaN
31                                Max Gold   /name/nm3051443/  ...       NaN
32                     Jarungsak Wongleang   /name/nm6709112/  ...       NaN
33                  Sam Gill, \nLuke Neher  /name/nm10559458/  ...       NaN
34                            Akil Wingate   /name/nm1655484/  ...       NaN
35                            Akil Wingate   /name/nm1655484/  ...       NaN
36                                     NaN                NaN  ...       NaN
37                                     NaN                NaN  ...       NaN
38             Alex Roberts, \nLuke Hanson   /name/nm6808136/  ...      25.0
39                      Darren James Perry   /name/nm2504805/  ...       NaN
40                         Luka Stemberger   /name/nm8292141/  ...       NaN
41                           Terence Muncy   /name/nm2060284/  ...       NaN

    gross(in $)     Rank                                       Movies  \
0           NaN       80                                            x
1           NaN       57                                    barbarian
2           NaN       19                                         nope
3           NaN       22                                       scream
4    90123230.0       21                              the black phone
5   103046663.0       22                                       scream
6           NaN       95                                          men
7           NaN       89                         bodies bodies bodies
8           NaN        3  doctor strange in the multiverse of madness
9           NaN       38                                        beast
10          NaN       62                                        beast
11          NaN       46                               the invitation
12          NaN       78                           orphan: first kill
13          NaN       20                                      morbius
14          NaN       76                                  firestarter
15     231703.0       46                               the invitation
16   15100000.0       76                                  firestarter
17          NaN       63                            bhool bhulaiyaa 2
18          NaN       10                                    uncharted
19    1083395.0       22                                       scream
20     142544.0       80                                            x
21          NaN       83                                       memory
22          NaN       85                                easter sunday
23          NaN       31                                          dog
24          NaN       80                                            x
25          NaN       83                                       memory
26          NaN       38                                        beast
27          NaN       62                                        beast
28          NaN       38                                        beast
29          NaN       62                                        beast
30          NaN       38                                        beast
31          NaN       62                                        beast
32          NaN       22                                       scream
33          NaN       22                                       scream
34          NaN       38                                        beast
35          NaN       62                                        beast
36          NaN       38                                        beast
37          NaN       62                                        beast
38          NaN       90                                         hunt
39          NaN       80                                            x
40          NaN       31                                          dog
41          NaN       80                                            x

           Worldwide($)        Domestic($)   Domestic share(%)  \
0           $14,476,595        $11,765,309               0.813
1           $21,915,433        $20,915,433               0.954
2          $169,048,455       $122,746,455               0.726
3          $140,041,405        $81,641,405               0.583
4          $159,538,800        $89,857,800               0.563
5          $140,041,405        $81,641,405               0.583
6           $11,101,969         $7,587,853               0.683
7           $11,949,087        $11,354,813                0.95
8          $955,775,804       $411,331,607                0.43
9           $51,376,160        $30,766,160               0.599
10          $18,911,959                NaN                 NaN
11          $30,068,901        $21,468,901               0.714
12          $14,780,687         $5,348,536               0.362
13         $163,865,530        $73,865,530               0.451
14          $14,889,250         $9,589,250               0.644
15          $30,068,901        $21,468,901               0.714
16          $14,889,250         $9,589,250               0.644
17          $18,307,258                NaN                 NaN
18         $401,748,820       $148,648,820                0.37
19         $140,041,405        $81,641,405               0.583
20          $14,476,595        $11,765,309               0.813
21          $13,460,842         $7,329,043               0.544
22          $13,062,158        $13,005,330               0.996
23          $84,896,644        $61,778,069               0.728
24          $14,476,595        $11,765,309               0.813
25          $13,460,842         $7,329,043               0.544
26          $51,376,160        $30,766,160               0.599
27          $18,911,959                NaN                 NaN
28          $51,376,160        $30,766,160               0.599
29          $18,911,959                NaN                 NaN
30          $51,376,160        $30,766,160               0.599
31          $18,911,959                NaN                 NaN
32         $140,041,405        $81,641,405               0.583
33         $140,041,405        $81,641,405               0.583
34          $51,376,160        $30,766,160               0.599
35          $18,911,959                NaN                 NaN
36          $51,376,160        $30,766,160               0.599
37          $18,911,959                NaN                 NaN
38          $11,892,216                NaN                 NaN
39          $14,476,595        $11,765,309               0.813
40          $84,896,644        $61,778,069               0.728
41          $14,476,595        $11,765,309               0.813

         Foreign($)    Foreign share(%)
0        $2,711,286               0.187  NaN
1        $1,000,000               0.046  NaN
2       $46,302,000               0.274  NaN
3       $58,400,000               0.417  NaN
4       $69,681,000               0.437  NaN
5       $58,400,000               0.417  NaN
6        $3,514,116               0.317  NaN
7          $594,274               0.050  NaN
8      $544,444,197               0.570  NaN
9       $20,610,000               0.401  NaN
10      $18,911,959               1.000  NaN
11       $8,600,000               0.286  NaN
12       $9,432,151               0.638  NaN
13      $90,000,000               0.549  NaN
14       $5,300,000               0.356  NaN
15       $8,600,000               0.286  NaN
16       $5,300,000               0.356  NaN
17      $18,307,258               1.000  NaN
18     $253,100,000               0.630  NaN
19      $58,400,000               0.417  NaN
20       $2,711,286               0.187  NaN
21       $6,131,799               0.456  NaN
22          $56,828               0.004  NaN
23      $23,118,575               0.272  NaN
24       $2,711,286               0.187  NaN
25       $6,131,799               0.456  NaN
26      $20,610,000               0.401  NaN
27      $18,911,959               1.000  NaN
28      $20,610,000               0.401  NaN
29      $18,911,959               1.000  NaN
30      $20,610,000               0.401  NaN
31      $18,911,959               1.000  NaN
32      $58,400,000               0.417  NaN
33      $58,400,000               0.417  NaN
34      $20,610,000               0.401  NaN
35      $18,911,959               1.000  NaN
36      $20,610,000               0.401  NaN
37      $18,911,959               1.000  NaN
38      $11,892,216               1.000  NaN
39       $2,711,286               0.187  NaN
40      $23,118,575               0.272  NaN
41       $2,711,286               0.187  NaN

[42 rows x 22 columns]